In [1]:
import os
import glob
import re
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
DATA_PATH = os.path.join(os.path.dirname(os.getcwd()), "Data/SuccessfulScrape")
YEAR = 2010
years = {"2010":"2009-10",
         "2011":"2010-11",
         "2012":"2011-12",
         "2013":"2012-13",
         "2014":"2013-14",
         "2015":"2014-15",
         "2016":"2015-16",
         "2017":"2016-17",
         "2018":"2017-18"}

In [3]:
def get_single_season_df(year, datapath):
    return pd.read_csv(glob.glob(os.path.join(datapath, f"*_game*_{year}_*"))[0])

In [4]:
df = get_single_season_df(YEAR, DATA_PATH)

In [5]:
df.head()

,game_id,home_flag,team_id,abb,wins,loss,wl%,asts,rebs,orebs,...,3p%,fta,ft%,pfs,pts,ref1,ref2,ref3,net_score,won
0,20900253,0,1610612738,BOS,14,4,0.778,24,38,8,...,0.588,29,0.897,25,108,1203,1204,2005,18,1
1,20900253,1,1610612766,CHA,7,10,0.412,13,34,14,...,0.182,35,0.686,22,90,1203,1204,2005,-18,0
2,20900254,0,1610612764,WAS,7,12,0.368,20,43,11,...,0.333,32,0.625,21,106,1200,1664,2878,4,1
3,20900254,1,1610612761,TOR,6,10,0.375,19,50,13,...,0.381,27,0.815,27,102,1200,1664,2878,-4,0
4,20900255,0,1610612756,PHX,4,14,0.222,18,40,12,...,0.235,32,0.781,20,99,1199,2001,200834,-27,0

In [6]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1720 entries, 0 to 1719
Data columns (total 26 columns):
game_id      1720 non-null int64
home_flag    1720 non-null int64
team_id      1720 non-null int64
abb          1720 non-null object
wins         1720 non-null int64
loss         1720 non-null int64
wl%          1720 non-null float64
asts         1720 non-null int64
rebs         1720 non-null int64
orebs        1720 non-null int64
tovs         1720 non-null int64
fga          1720 non-null int64
fg%          1720 non-null float64
2pa          1720 non-null int64
2p%          1720 non-null float64
3pa          1720 non-null int64
3p%          1720 non-null float64
fta          1720 non-null int64
ft%          1720 non-null float64
pfs          1720 non-null int64
pts          1720 non-null int64
ref1         1720 non-null int64
ref2         1720 non-null int64
ref3         1720 non-null object
net_score    1720 non-null int64
won          1720 non-null int64
dtypes: float64(5), int64(19), object(2)
memory usage: 349.5+ KB

,game_id,home_flag,team_id,wins,loss,wl%,asts,rebs,orebs,tovs,...,3pa,3p%,fta,ft%,pfs,pts,ref1,ref2,net_score,won
count,1.720000e+03,1720.000000,1.720000e+03,1720.000000,1720.000000,1720.000000,1720.000000,1720.000000,1720.000000,1720.000000,...,1720.000000,1720.000000,1720.000000,1720.000000,1720.000000,1720.000000,1720.000000,1720.000000,1720.000000,1720.000000
mean,2.090069e+07,0.500000,1.610613e+09,23.045930,23.119186,0.498942,21.308140,41.824419,10.954070,13.470349,...,18.038372,0.351312,24.529070,0.759283,20.664535,100.447674,1567.488372,9201.472093,0.000000,0.500000
std,2.509360e+02,0.500145,8.649095e+00,11.603378,11.606015,0.168684,5.007422,6.393668,3.929822,3.719865,...,5.651374,0.121003,7.206848,0.097249,4.097094,11.546937,4830.255352,32625.655160,13.543028,0.500145
min,2.090025e+07,0.000000,1.610613e+09,0.000000,3.000000,0.000000,7.000000,23.000000,1.000000,3.000000,...,4.000000,0.000000,5.000000,0.364000,8.000000,64.000000,1142.000000,1142.000000,-50.000000,0.000000
25%,2.090047e+07,0.000000,1.610613e+09,14.000000,14.750000,0.365000,18.000000,37.000000,8.000000,11.000000,...,14.000000,0.273000,20.000000,0.700000,18.000000,93.000000,1152.750000,1190.000000,-9.000000,0.000000
50%,2.090069e+07,0.500000,1.610613e+09,21.000000,21.000000,0.514000,21.000000,42.000000,11.000000,13.000000,...,17.000000,0.345000,24.000000,0.762000,21.000000,100.000000,1174.000000,1363.000000,0.000000,0.500000
75%,2.090090e+07,1.000000,1.610613e+09,31.000000,29.250000,0.633000,24.000000,46.000000,14.000000,16.000000,...,22.000000,0.429000,29.000000,0.826500,23.000000,108.000000,1199.000000,2148.000000,9.000000,1.000000
max,2.090112e+07,1.000000,1.610613e+09,59.000000,65.000000,0.857000,39.000000,68.000000,25.000000,28.000000,...,47.000000,0.889000,49.000000,1.000000,34.000000,152.000000,101284.000000,201640.000000,50.000000,1.000000

In [7]:
df.columns

Index(['game_id', 'home_flag', 'team_id', 'abb', 'wins', 'loss', 'wl%', 'asts',
       'rebs', 'orebs', 'tovs', 'fga', 'fg%', '2pa', '2p%', '3pa', '3p%',
       'fta', 'ft%', 'pfs', 'pts', 'ref1', 'ref2', 'ref3', 'net_score', 'won'],
      dtype='object')

In [8]:
features = list(df.columns[6:-6])
regression = df.columns[-2]
label = df.columns[-1]
cols = features + [regression] + [label]
print(f"features = {features}")
print(f"label = {label}")
print(f"regression = {regression}")
print(f"cols = {cols}")

features = ['wl%', 'asts', 'rebs', 'orebs', 'tovs', 'fga', 'fg%', '2pa', '2p%', '3pa', '3p%', 'fta', 'ft%', 'pfs']
label = won
regression = net_score
cols = ['wl%', 'asts', 'rebs', 'orebs', 'tovs', 'fga', 'fg%', '2pa', '2p%', '3pa', '3p%', 'fta', 'ft%', 'pfs', 'net_score', 'won']

Will attempt to learn who won the game (classification) and how much they won the game by (regression). The game id, team id and abbreviation are unnecessary for the data learning. To trim dataset, I will only use the home team performing learning on both is redundant (if home team wins by 8 then away team loses by 8).

Reorganize/transform the data into a more logical dataframe by using a multi-index for each game and the second index being the home vs away team.

In [9]:
df2 = df.set_index(["game_id", "home_flag"])
df2.head()

                       team_id  abb  wins  loss    wl%  asts  rebs  orebs  \
game_id  home_flag
20900253 0          1610612738  BOS    14     4  0.778    24    38      8
         1          1610612766  CHA     7    10  0.412    13    34     14
20900254 0          1610612764  WAS     7    12  0.368    20    43     11
         1          1610612761  TOR     6    10  0.375    19    50     13
20900255 0          1610612756  PHX     4    14  0.222    18    40     12

                    tovs  fga  ...    3p%  fta    ft%  pfs  pts  ref1  ref2  \
game_id  home_flag             ...
20900253 0            17   66  ...  0.588   29  0.897   25  108  1203  1204
         1            11   79  ...  0.182   35  0.686   22   90  1203  1204
20900254 0            10   84  ...  0.333   32  0.625   21  106  1200  1664
         1            16   84  ...  0.381   27  0.815   27  102  1200  1664
20900255 0            17   77  ...  0.235   32  0.781   20   99  1199  2001

                      ref3  net_score  won
game_id  home_flag
20900253 0            2005         18    1
         1            2005        -18    0
20900254 0            2878          4    1
         1            2878         -4    0
20900255 0          200834        -27    0

[5 rows x 24 columns]

In [10]:
game_ids = np.array(df2.index.levels[0])

Split the data into train test split by splitting the game_ids array.

In [11]:
np.random.seed(42)
np.random.shuffle(game_ids)

In [12]:
num_games = len(game_ids)
training = int(0.25*num_games)
validation = int(0.25*num_games) + training
testing = 0.5

training_games = game_ids[:training]
validation_games = game_ids[training:validation]
testing_games = game_ids[validation:]

In [13]:
training_df = df2.loc[training_games]
validation_df = df2.loc[validation_games]
testing_df = df2.loc[testing_games]

In [14]:
training_subset_home = training_df.query("home_flag == '1'").droplevel(1).loc[:, cols]
training_subset_away = training_df.query("home_flag == '0'").droplevel(1).loc[:, cols]
training_subset = training_subset_home.subtract(training_subset_away)
training_subset["net_score"] = training_subset["net_score"] / 2
training_subset["won"] = (training_subset["won"] + 1)// 2
training_subset.head()

,wl%,asts,rebs,orebs,tovs,fga,fg%,2pa,2p%,3pa,3p%,fta,ft%,pfs,net_score,won
game_id,,,,,,,,,,,,,,,,
20900255,0.556,13,10,7,-7,18,0.040,4,-0.001,14,0.217,-5,-0.114,4,27.0,1
20900258,-0.435,-1,-4,-6,1,-13,0.044,-14,0.058,1,0.083,18,-0.019,-12,11.0,1
20900260,0.015,8,10,4,-6,13,0.084,14,0.163,-1,-0.162,-5,-0.074,3,17.0,1
20900263,-0.737,-11,-14,-3,-5,2,-0.145,2,-0.157,0,-0.111,7,0.004,-8,-16.0,0
20900276,-0.300,-4,0,-4,-1,-6,0.107,6,0.054,-12,0.253,5,-0.267,-2,16.0,1

First, let us try and make a classification model to see which team wins, given the input data from the game.

In [15]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression(solver="newton-cg")

X = training_subset.iloc[:, 1:-2 ].to_numpy()
y = training_subset.iloc[:, -1].to_numpy()

clf.fit(X, y)

clf.score(X, y)

0.9023255813953488

In [16]:
validation_subset_home = validation_df.query("home_flag == '1'").droplevel(1).loc[:, cols]
validation_subset_away = validation_df.query("home_flag == '0'").droplevel(1).loc[:, cols]
validation_subset = validation_subset_home.subtract(validation_subset_away)
validation_subset["net_score"] = validation_subset["net_score"] / 2
validation_subset["won"] = (validation_subset["won"] + 1)// 2
validation_subset.head()

,wl%,asts,rebs,orebs,tovs,fga,fg%,2pa,2p%,3pa,3p%,fta,ft%,pfs,net_score,won
game_id,,,,,,,,,,,,,,,,
20900253,-0.366,-11,-4,6,-6,13,-0.140,19,-0.089,-6,-0.406,6,-0.211,-3,-18.0,0
20900256,-0.369,15,24,8,1,1,0.111,13,0.091,-12,-0.017,8,0.083,0,28.0,1
20900259,-0.372,12,22,7,0,6,0.079,1,0.127,5,-0.101,5,0.177,2,31.0,1
20900262,0.117,-2,6,-3,8,-25,0.101,-8,0.099,-17,-0.033,22,-0.015,-9,2.0,1
20900264,-0.105,7,1,-5,2,-9,0.093,-2,0.063,-7,0.194,-1,0.056,-1,7.0,1

In [17]:
VX = validation_subset.iloc[:, 1:-2 ].to_numpy()
Vy = validation_subset.iloc[:, -1].to_numpy()

clf.score(VX, Vy)

0.8651162790697674

Next I will compare this performance versus picking the team with the better record to see if it produces any better of a result

In [18]:
naiveX = training_subset.loc[:, "wl%"].values
naiveY = np.zeros(len(naiveX))
for i in range(len(naiveX)):
    if naiveX[i] < 0:
        naiveY[i] = 0
    else:
        naiveY[i] = 1

In [19]:
y = training_subset.loc[:, "won"].values
correct = 0
for i in range(len(naiveY)):
    if y[i] == naiveY[i]:
        correct += 1

print(correct/len(naiveY))

0.4325581395348837

The model appears to perform better than a simplistic decision of picking the team with the better record.

The more interesting test is to see if the model can predict if a team will win or lose based on data going into the game (not data after the game has completed). To test this, we will use the team data for the season and compare the two teams and then predict off this to determine who should win.

In [20]:
testing_df.head()

                       team_id  abb  wins  loss    wl%  asts  rebs  orebs  \
game_id  home_flag
20900254 0          1610612764  WAS     7    12  0.368    20    43     11
         1          1610612761  TOR     6    10  0.375    19    50     13
20900257 0          1610612748  MIA    10     7  0.588    24    34      6
         1          1610612757  POR    12     8  0.600    20    49     21
20900261 0          1610612752  NYK     4    15  0.211    15    36     13

                    tovs  fga  ...    3p%  fta    ft%  pfs  pts  ref1  ref2  \
game_id  home_flag             ...
20900254 0            10   84  ...  0.333   32  0.625   21  106  1200  1664
         1            16   84  ...  0.381   27  0.815   27  102  1200  1664
20900257 0             9   75  ...  0.412   27  0.741   25  107  1159  1162
         1            11   87  ...  0.400   32  0.750   23  100  1159  1162
20900261 0            18   84  ...  0.417   21  0.762   23  104  1147  1198

                    ref3  net_score  won
game_id  home_flag
20900254 0          2878          4    1
         1          2878         -4    0
20900257 0          2714          7    1
         1          2714         -7    0
20900261 0          1662        -14    0

[5 rows x 24 columns]

In [21]:
def get_team_df(datapath):
    return pd.read_csv(glob.glob(os.path.join(datapath, "*team*"))[0])

In [22]:
team_df = get_team_df(DATA_PATH)

In [23]:
team_df.head()

,season,team_id,wins,losses,wl%,asts,rebs,orebs,tovs,fga,fg%,2pa,2p%,3pa,3p%,fta,ft%,pfs,pts
0,2009-10,1610612737,53,29,0.646,21,41,11,12,82,0.468,65,0.496,17,0.360,23,0.759,19,101
1,2009-10,1610612738,50,32,0.610,23,38,8,14,76,0.483,59,0.522,17,0.348,25,0.746,22,99
2,2009-10,1610612739,61,21,0.744,22,42,9,13,77,0.485,58,0.519,19,0.381,26,0.720,19,102
3,2009-10,1610612740,37,45,0.451,22,40,10,13,83,0.464,64,0.494,19,0.363,20,0.778,19,100
4,2009-10,1610612741,41,41,0.500,20,44,11,14,83,0.451,70,0.473,13,0.330,23,0.754,20,97

In [24]:
team_df_2010 = team_df.loc[team_df["season"] == years[str(YEAR)]]
team_df_2010.set_index("team_id", inplace=True)
team_df_2010 = team_df_2010.loc[:, features]

In [25]:
team_df_2010.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 1610612737 to 1610612766
Data columns (total 14 columns):
wl%      30 non-null float64
asts     30 non-null int64
rebs     30 non-null int64
orebs    30 non-null int64
tovs     30 non-null int64
fga      30 non-null int64
fg%      30 non-null float64
2pa      30 non-null int64
2p%      30 non-null float64
3pa      30 non-null int64
3p%      30 non-null float64
fta      30 non-null int64
ft%      30 non-null float64
pfs      30 non-null int64
dtypes: float64(5), int64(9)
memory usage: 3.5 KB

In [26]:
def get_test_input(testing_df, team_df, model):
    X = []
    for game_id in np.unique([index[0] for index in testing_df.index.values]):
        home_team = testing_df.loc[game_id, 1]["team_id"]
        away_team = testing_df.loc[game_id, 0]["team_id"]
        home_team_df = team_df.loc[home_team, features].drop("wl%")
        away_team_df = team_df.loc[away_team, features].drop("wl%")
        data_point = home_team_df.subtract(away_team_df)
        X.append(data_point.to_numpy())
    return X

In [27]:
TestX = get_test_input(testing_df, team_df_2010, clf)

Testy = testing_df.query("home_flag == '1'").loc[:, "won"].values

clf.score(TestX, Testy)

0.6441860465116279

In [28]:
def test_control_score(testing_df, team_df):
    predicted = []
    for game_id in np.unique([index[0] for index in testing_df.index.values]):
        home_team = testing_df.loc[game_id, 1]["team_id"]
        away_team = testing_df.loc[game_id, 0]["team_id"]
        wl_comp = team_df.loc[home_team, "wl%"] - team_df.loc[home_team, "wl%"]
        if wl_comp < 0:
            predicted.append(0)
        else:
            predicted.append(1)
    Testy = testing_df.query("home_flag == '1'").loc[:, "won"].values
    correct = 0
    for i in range(len(predicted)):
        if Testy[i] == predicted[i]:
            correct += 1
    return correct/len(predicted)

In [29]:
print(test_control_score(testing_df, team_df_2010))

0.6325581395348837